@import 'partials/typography.css';
@import 'partials/lists.css';
@import 'partials/placeholder.css';
@import 'partials/drag-handle.css';
@import 'partials/iframe.css';

/*Collection of styles that fixes some weird stuff in editor*/
.tiptap {
  @apply caret-black outline-0 z-0 lg:px-0;

  /* Basic editor styles */
  :first-child {
    margin-top: 0;
  }

  blockquote {
    quotes: none;
  }

  blockquote::before,
  blockquote::after {
    content: none;
  }
}