/* NEUBAU WEBFONTS: NB INTERNTIONAL PRO EDITION, MMXXI */

@font-face {
  font-family: 'NBInternationalPro';
  src: url('nbinternationalproreg-webfont.eot');
  src:
    url('nbinternationalproreg-webfont.eot?#iefix') format('embedded-opentype'),
    url('nbinternationalproreg-webfont.woff2') format('woff2'),
    url('nbinternationalproreg-webfont.woff') format('woff'),
    url('nbinternationalproreg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NBInternationalPro';
  src: url('nbinternationalproita-webfont.eot');
  src:
    url('nbinternationalproita-webfont.eot?#iefix') format('embedded-opentype'),
    url('nbinternationalproita-webfont.woff2') format('woff2'),
    url('nbinternationalproita-webfont.woff') format('woff'),
    url('nbinternationalproita-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NBInternationalPro';
  src: url('nbinternationalprobol-webfont.eot');
  src:
    url('nbinternationalprobol-webfont.eot?#iefix') format('embedded-opentype'),
    url('nbinternationalprobol-webfont.woff2') format('woff2'),
    url('nbinternationalprobol-webfont.woff') format('woff'),
    url('nbinternationalprobol-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NBInternationalPro';
  src: url('nbinternationalprobolita-webfont.eot');
  src:
    url('nbinternationalprobolita-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('nbinternationalprobolita-webfont.woff2') format('woff2'),
    url('nbinternationalprobolita-webfont.woff') format('woff'),
    url('nbinternationalprobolita-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'NBInternationalPro';
  src: url('nbinternationalpromedita-webfont.eot');
  src:
    url('nbinternationalpromedita-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('nbinternationalpromedita-webfont.woff2') format('woff2'),
    url('nbinternationalpromedita-webfont.woff') format('woff'),
    url('nbinternationalpromedita-webfont.ttf') format('truetype');
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: 'NBInternationalPro';
  src: url('nbinternationalpromed-webfont.eot');
  src:
    url('nbinternationalpromed-webfont.eot?#iefix') format('embedded-opentype'),
    url('nbinternationalpromed-webfont.woff2') format('woff2'),
    url('nbinternationalpromed-webfont.woff') format('woff'),
    url('nbinternationalpromed-webfont.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'NBInternationalPro';
  src: url('nbinternationalproligita-webfont.eot');
  src:
    url('nbinternationalproligita-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('nbinternationalproligita-webfont.woff2') format('woff2'),
    url('nbinternationalproligita-webfont.woff') format('woff'),
    url('nbinternationalproligita-webfont.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'NBInternationalPro';
  src: url('nbinternationalprolig-webfont.eot');
  src:
    url('nbinternationalprolig-webfont.eot?#iefix') format('embedded-opentype'),
    url('nbinternationalprolig-webfont.woff2') format('woff2'),
    url('nbinternationalprolig-webfont.woff') format('woff'),
    url('nbinternationalprolig-webfont.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
